<!DOCTYPE HTML>
<html>
    <meta charset="utf-8">
    <title>Панель управления</title>
    <link rel="stylesheet"  href="main.css">

    <div class="body">
        <header class="g-head">
            <a href class="logo"></a>
        </header>
        <main class="g-main">
            <aside class="g-left">
                <ul class="menu">
                    <li><a href="" class="menu-item">
                        <i class="icon icon-set"></i>
                        <span class="title">uPHP - общие настройки</span>
                    </a></li>
                    <li><a href="" class="menu-item active">
                        <i class="icon icon-read"></i>
                        <span class="title">Страницы</span>
                    </a></li>
                    <li>
                        <a href="" class="menu-item">Мини-Чат</a>
                    </li>
                </ul>
            </aside>
            <aside class="g-right">
                <div class="block">left</div>
            </aside>
        </main>
        <footer class="g-footer pad">футер</footer>
    </div>

</html>
