<!--<header class="bckg-text">Добавление нового материала</header>-->

<div class="block">
    <h1><?if($ARTICLE_IS_EDIT$)?>Редактирование<?else?>Добавление нового<?endif?> материала</h1>
    <form id="article-add">

        <div>
            <div class="cols">
                <div style="text-align:right">Категория:</div>
                <div>$ARTICLE_CATS$</div>
                <div></div>
            </div>
        </div>

          Заголовок: <input type="text" name="title" value="$TITLE$"><br><br>
          Контент: <textarea name="text">$TEXT$</textarea><br>

            <?if($ARTICLE_IS_EDIT$)?>
                <div class="cols">
                    <div style="text-align:right">Дата:</div>
                    <div><input type="text" name="date" value="$DATE$"></div>
                    <div></div>
                </div>
                <div class="cols">
                    <div style="text-align:right">Пользователь:</div>
                    <div><input type="text" name="uid" value="$UID$"></div>
                    <div></div>
                </div>
            <?endif?>

          <input type="hidden" name="id" value="$ID$">
          <input type="hidden" name="type" value="<?if($ARTICLE_IS_EDIT$)?>edit<?else?>add<?endif?>">
          <input type="hidden" name="error" value="">

          <center><button type="submit"><?if($ARTICLE_IS_EDIT$)?>Изменить<?else?>Добавить<?endif?></button></center>
    </form>
</div>