<div class="entry flex type-1">
    <div class="image">
        <a href="http://reslear.ucoz.ru/_sf/0/38.png" target="_blank" class="link">
            <img src="http://reslear.ucoz.ru/_sf/0/38.png" alt="$ARTICLE_TITLE$"/>
        </a>
    </div>
    <div class="description">
        <div class="header flex">
            <div class="title">
                <a href="$ARTICLE_URL$" class="link">$ARTICLE_TITLE$</a>
            </div>
            <div class="category"><a href class="link">Скрипты</a></div>
        </div>
        <div class="text">
            <p>$ARTICLE_TEXT$<a href title="Удалить материал" data-article-delete="$ARTICLE_ID$">удалить</a></p>
        </div>
        <div class="footer flex">
            <div class="info flex">
                <div class="info-item flex">
                    <i class="icon time"></i>
                    <span class="nowrap">$ARTICLE_DATE$</span>
                </div>
                <div class="info-item flex">
                    <i class="icon comment"></i>
                    <span class="nowrap">-</span>
                </div>
                <div class="info-item flex">
                    <i class="icon eye"></i>
                    <span class="nowrap">-</span>
                </div>
            </div>
            <div class="link-button">
                <a href="$ARTICLE_URL$" title="$ARTICLE_TITLE$" class="button">Подробнее</a>
            </div>
        </div>
    </div>
</div>